.calc {
    min-height:72px;
    line-height:1;
}

.results {
    border-radius: 1px;
    border-right: 1px solid #D9D9D9;
    border-width: 1px;
    border-style: solid;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    color: #333;
    height: 20px;
    left: 1%;
    position: absolute;
    top: 1%;
    width: 98%;
}